@{
    ViewData["Title"] = "Prizepool";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-area="" asp-controller="Home" asp-action="index"><i class="fa fa-home"></i> 首頁</a>
                    <a asp-area="" asp-controller="Home" asp-action="Classification">分類</a>
                    <span>獎池一覽</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<script>


</script>

